.landing-page{
    height: 100vh;
}


.landing-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .landing-content__logo{
        width: 180px;
        margin-top: 100px;
    }

    .landing-content__title{
        font-family: 'Sansita One', sans-serif;
        color: var(--title);
        font-size: 2rem;
    }

    .landing-content__slogan{
        font-family: 'Fira Sans', sans-serif;
        font-style: italic;
        font-weight: 400;
        color: var(--text);
        font-size: 1.4rem;
        margin-bottom: 100px;
    }

    .button__wrapper{
        margin-top: 50px;
    }
}