:root {
  --bg-color: #231F42;
  --title: #F56B9A;
  --text: #FFFFFF;
  --details: #37AEAB;

  --title-font: 'Sansita One';
  --second-font: 'Fira Sans'

}

body{
  background-color: var(--bg-color);
}

